
.dots {
  background-image: radial-gradient(#19191a4f 2px, transparent 0px);
  background-repeat: repeat; /* or omit this declaration */
  background-size: 130px 150px;
  background-position: center;

  &-white {
    background-image: radial-gradient(#ffffff4f 2px, transparent 0px)!important;
    background-repeat: repeat; /* or omit this declaration */
    background-size: 130px 150px;
    background-position: center;
  }
}
  
.text-container {
  margin: 0;
  color: rgba(225,225,225, .01);
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animateText 15s ease-in-out infinite;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900;
}