.btn-outline {
  text-shadow: -1px -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
  border: solid 4px rgb(var(--v-theme-secondary));
  border-color: rgb(var(--v-theme-secondary));
  border-radius: 15px;
  color: rgb(var(--v-theme-secondary));
  border-radius: 15px;
  width: 180px;
  font-size: 2rem;
  padding: 7px;
  transition: all 0.35s ease-in-out;

  &-highlight {
      text-shadow: -1px -1px 0 rgb(var(--v-theme-secondary-light)), 1px -1px 0 rgb(var(--v-theme-secondary-light)), -1px 1px 0 rgb(var(--v-theme-secondary-light)), 1px 1px 0 rgb(var(--v-theme-secondary-light));
      border: solid 4px rgb(var(--v-theme-secondary));
      border-color: rgb(var(--v-theme-secondary)) !important;
      border-radius: 15px;
      width: 145px;
      padding: 5px;

      &:hover {
        text-shadow: -1px -1px 0 #60054c, 1px -1px 0 #60054c, -1px 1px 0 #60054c, 1px 1px 0 #60054c;
        border-color: #60054c !important;
        color: rgb(var(--v-theme-accent));
      }

      &:active {
        outline: solid 4px #ff39d4aa
      }
    }

  &:hover {
    text-shadow: -1px -1px 0 rgb(var(--v-theme-accent)), 1px -1px 0 rgb(var(--v-theme-accent)), -1px 1px 0 rgb(var(--v-theme-accent)), 1px 1px 0 rgb(var(--v-theme-accent));
    border-color: #60054c !important;
    color: #60054c;
  }

  &:active {
    outline: solid 4px #ff39d4aa
  }
}